extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let wolfid = toShow._id
    - let wolf_color = toShow.wolf_color
    - let wolf_breed = toShow.wolf_breed
    - let wolf_price = toShow.wolf_price
    - let actionid = "/resource/wolfs/" + wolfid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='wolfAttr mr-3') wolf ID is:
      div #{wolfid}
     div.row
      div(class='wolfAttr mr-3') wolf color is:
      div #{wolf_color}
     div.row
      div(class='wolfAttr mr-3') wolf breed is:
      div #{wolf_breed}
     div.row
      div(class='wolfAttr mr-3') wolf Price is:
      div #{wolf_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/wolfs'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/wolf'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }

    